@model CinemaWA.Models.Assento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Assento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroAssento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroAssento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssentoInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssentoInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sala)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sala.SalaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AssentoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
