@model IEnumerable<CinemaWA.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-muted">Clientes</h1>

<p>
    <a asp-action="Create">Cadastrar Cliente</a>
</p>
<table style="background-color:lightgray" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClienteNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClienteId"><img src=~/edit.png></a> |
                <a asp-action="Details" asp-route-id="@item.ClienteId"><img src=~/details.png></a> |
                <a asp-action="Delete" asp-route-id="@item.ClienteId"><img src=~/delete.png></a>
            </td>
        </tr>
}
    </tbody>
</table>
