@model IEnumerable<CinemaWA.Models.Reserva>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-muted">Reservas</h1>

<p>
    <a asp-action="Create">Cadastrar Reserva</a>
</p>
<table class="table bg-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sessao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.ClienteNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sessao.Sessaoinfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assento.NumeroAssento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReservaId"><img src=~/edit.png></a> |
                <a asp-action="Details" asp-route-id="@item.ReservaId"><img src=~/details.png></a> |
                <a asp-action="Delete" asp-route-id="@item.ReservaId"><img src=~/delete.png></a>
            </td>
        </tr>
}
    </tbody>
</table>
